@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


:root{
    --color-one: #103278;
    --color-two: #EBC600;
    --color-text: #656A83;
    --font: 'Inria Serif', serif;
}
body{
    font-family: var(--font);
    color: var(--color-text);
}
a{
    text-decoration: none;
}